In [1]:
import turicreate
people = turicreate.SFrame('people_wiki.sframe')

In [2]:
John = people[people['name'] == 'Elton John']
John['word_count'] = turicreate.text_analytics.count_words(John['text'])

Columns:
	URI	str
	name	str
	text	str
	word_count	dict

Rows: 1

Data:
+-------------------------------+------------+-------------------------------+
|              URI              |    name    |              text             |
+-------------------------------+------------+-------------------------------+
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
+-------------------------------+------------+-------------------------------+
+-------------------------------+
|           word_count          |
+-------------------------------+
| {'social': 1.0, 'champion'... |
+-------------------------------+
[1 rows x 4 columns]

In [4]:
John.stack('word_count',new_column_name=['word','count'])

Columns:
	URI	str
	name	str
	text	str
	word	str
	count	float

Rows: 255

Data:
+-------------------------------+------------+-------------------------------+
|              URI              |    name    |              text             |
+-------------------------------+------------+-------------------------------+
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
+-------------------------------+------------+-------------------------------+
+----------+-------+
|   word   | count |
+----------+-------+
|  social  |  1.0  |
| champion |  1.0  |
|    be    |  1.0  |
|   2014   |  1.0  |
|  legal   |  1.0  |
|  became  |  1.0  |
|   2005   |  1.0  |
| december |  2.0  |
|    21    |  2.0  |
| furnish  |  2.0  |
+----------+-------+
[255 rows x 5 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [5]:
John_count_table = John[['word_count']].stack('word_count', new_column_name = ['word','count'])

In [7]:
John_count_table.sort('count',ascending=False)

Columns:
	word	str
	count	float

Rows: 255

Data:
+-------+-------+
|  word | count |
+-------+-------+
|  the  |  27.0 |
|   in  |  18.0 |
|  and  |  15.0 |
|   of  |  13.0 |
|   a   |  10.0 |
|  has  |  9.0  |
|  john |  7.0  |
|   he  |  7.0  |
|   on  |  6.0  |
| award |  5.0  |
+-------+-------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [8]:
people['tfidf'] = turicreate.text_analytics.tf_idf(people['text'])

In [9]:
John = people[people['name'] == 'Elton John']
John[['tfidf']].stack('tfidf',new_column_name=['word','tfidf']).sort('tfidf',ascending=False)

Columns:
	word	str
	tfidf	float

Rows: 255

Data:
+---------------+--------------------+
|      word     |       tfidf        |
+---------------+--------------------+
|    furnish    | 18.38947183999428  |
|     elton     | 17.482320270031995 |
|   billboard   | 17.30368095754203  |
|      john     | 13.93931279239831  |
|  songwriters  | 11.250406447031539 |
| tonightcandle | 10.986495389225194 |
|  overallelton | 10.986495389225194 |
|    19702000   | 10.293348208665249 |
|   fivedecade  | 10.293348208665249 |
|      aids     | 10.262846934045534 |
+---------------+--------------------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [10]:
beckham = people[people['name'] == 'David Beckham']
turicreate.distances.cosine(John['tfidf'][0],beckham['tfidf'][0])

0.9469446028990095

In [11]:
McCartney = people[people['name'] == 'Paul McCartney']
turicreate.distances.cosine(John['tfidf'][0],McCartney['tfidf'][0])

0.8250310029221779

In [13]:
people['word_count'] = turicreate.text_analytics.count_words(people['text'])

In [20]:
knn_model_count = turicreate.nearest_neighbors.create(people,features=['word_count'],label='name',distance='cosine')

Starting brute force nearest neighbors model training.

Validating distance components.

Initializing model data.

Initializing distances.

Done.

In [22]:
knn_model_tfidf = turicreate.nearest_neighbors.create(people,features=['tfidf'],label='name',distance='cosine')

Starting brute force nearest neighbors model training.

Validating distance components.

Initializing model data.

Initializing distances.

Done.

In [17]:
John = people[people['name'] == 'Elton John']

In [21]:
knn_model_count.query(John)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 10.735ms     |

| Done         |         | 100         | 392.676ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-------------------+-----------------------+------+
| query_label |  reference_label  |        distance       | rank |
+-------------+-------------------+-----------------------+------+
|      0      |     Elton John    | 2.220446049250313e-16 |  1   |
|      0      |   Cliff Richard   |  0.16142415258967036  |  2   |
|      0      |   Sandro Petrone  |  0.16822542751041114  |  3   |
|      0      |    Rod Stewart    |  0.16832716558706107  |  4   |
|      0      | Malachi O'Doherty |   0.177315545978884   |  5   |
+-------------+-------------------+-----------------------+------+
[5 rows x 4 columns]

In [19]:
knn_model_tfidf.query(John)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 58.628ms     |

| Done         |         | 100         | 518.618ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+--------------------+------+
| query_label | reference_label |      distance      | rank |
+-------------+-----------------+--------------------+------+
|      0      |    Elton John   |        0.0         |  1   |
|      0      |   Phil Collins  | 0.7639902676399026 |  2   |
|      0      |   Rod Stewart   | 0.7733333333333333 |  3   |
|      0      |   Annie Lennox  | 0.7766233766233767 |  4   |
|      0      |    Barry Gibb   | 0.780952380952381  |  5   |
+-------------+-----------------+--------------------+------+
[5 rows x 4 columns]

In [27]:
beckham = people[people['name'] == 'Victoria Beckham']

In [28]:
knn_model_count.query(beckham)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 15.554ms     |

| Done         |         | 100         | 252.785ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+--------------------------+------------------------+------+
| query_label |     reference_label      |        distance        | rank |
+-------------+--------------------------+------------------------+------+
|      0      |     Victoria Beckham     | -2.220446049250313e-16 |  1   |
|      0      | Mary Fitzgerald (artist) |  0.20730703611504997   |  2   |
|      0      |      Adrienne Corri      |  0.21450978278754795   |  3   |
|      0      |     Beverly Jane Fry     |  0.21746646874079278   |  4   |
|      0      |      Raman Mundair       |  0.21769547499150488   |  5   |
+-------------+--------------------------+------------------------+------+
[5 rows x 4 columns]

In [29]:
knn_model_tfidf.query(beckham)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 16.104ms     |

| Done         |         | 100         | 390.345ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+---------------------+------------------------+------+
| query_label |   reference_label   |        distance        | rank |
+-------------+---------------------+------------------------+------+
|      0      |   Victoria Beckham  | 1.1102230246251565e-16 |  1   |
|      0      |    David Beckham    |   0.5481696102632145   |  2   |
|      0      | Stephen Dow Beckham |   0.7849867068283364   |  3   |
|      0      |        Mel B        |   0.8095855234085036   |  4   |
|      0      |    Caroline Rush    |    0.81982642291868    |  5   |
+-------------+---------------------+------------------------+------+
[5 rows x 4 columns]